.main_content_container{
    margin: 0 7.5rem; 
    padding-top: 90px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: center; */
   margin:auto;
}

@media (max-width:1200px) {
    .main_content_container{
        margin:0  1.25rem; 
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .main_content_container {
        margin: 0px calc(-600px + 50vw);
    }
}